footer.svelte-1ax1toq {display: none !important;}

h2 {
      text-align: center !important;
    }
.wrap.svelte-1p9xokt.svelte-1p9xokt.svelte-1p9xokt {
        justify-content: space-around !important;
    }